<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head(Home)}"></head>

<body>
    <header>
        <nav th:replace="~{fragments/navBar :: navBar}"></nav>
    </header>

    <main>
        <h1 class="text-center mt-5">Find Your Car!</h1>

        <div class="text-center my-5">
            <a class="btn btn-primary btn-lg" th:href="@{/cars}">Go to car list</a>
        </div>

        <h1 class="text-center py-5">Recently added</h1>

        <div class="container">
            <div class="row">
                <div class="col-2 mb-4" th:each="car : ${cars}" th:object="${car}">
                    <div class="card">
                        <img th:src="*{imageUrl}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">[[*{brand}]] [[*{carModel}]]</h5>
                            <div class="card-text fw-medium">[[*{price}]] €</div>
                            <div class="card-text">[[*{mileage}]] Km</div>
                            <a th:href="@{|/cars/*{id}|}" class="btn btn-primary mt-3">View</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <!-- Popper Js -->
    <script th:replace="~{fragments/popperJs :: popperJs}"></script>
</body>

</html>