<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head(Home)}"></head>

<body>
    <header>
        <nav th:replace="~{fragments/navBar :: navBar}"></nav>
    </header>

    <main>
        <h1 class="text-center mt-5">Find Your Car!</h1>

        <div class="container mt-5">

            <div class="row justify-content-between">
                <div class="col-2" th:each="car : ${cars}" th:object="${car}">
                    <div class="card">
                        <img th:src="*{imageUrl}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">[[*{brand}]] [[*{carModel}]]</h5>
                            <div class="card-text fw-medium">[[*{price}]] €</div>
                            <div class="card-text">[[*{mileage}]] Km</div>
                            <a href="#" class="btn btn-primary mt-3">View</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <!-- Popper Js -->
    <script th:replace="~{fragments/popperJs :: popperJs}"></script>
</body>

</html>