<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head('Car details')}"></head>

<body>
    <header>
        <nav th:replace="~{fragments/navBar :: navBar}"></nav>
    </header>

    <main>
        <div class="container mt-5" th:object="${car}">
            <div class="row col-10 mx-auto">
                <img th:src="*{imageUrl}" class="col-8" alt="...">

                <div class="card col-4 mx-auto">
                    <div class="card-body">
                        <h2 class="mt-2">[[*{brand}]] [[*{carModel}]]</h2>
                        <p class="fw-medium fs-3">[[*{price}]] €</p>
                        <p class="fw-medium">Mileage: [[*{mileage}]] km</p>
                        <p class="fw-medium">Year: [[*{year}]] km</p>
                        <p class="mt-4">[[*{description}]]</p>
                    </div>
                </div>
            </div>
        </div>

        <h2 class="text-center pt-5 pb-4">Recently added</h2>

        <div class="container mb-5">
            <div class="row">
                <div class="col-2 mb-4 d-flex" th:each="car : ${cars}" th:object="${car}">
                    <div class="card d-flex flex-column w-100">
                        <img th:src="*{imageUrl}" class="card-img-top" alt="...">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">[[*{brand}]] [[*{carModel}]]</h5>
                            <div class="card-text fw-medium">[[*{price}]] €</div>
                            <div class="card-text mb-4">[[*{mileage}]] Km</div>
                            <a th:href="@{|/cars/*{id}|}" class="btn btn-primary mt-auto">View</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </main>

    <!-- Popper Js -->
    <script th:replace="~{fragments/popperJs :: popperJs}"></script>
</body>

</html>